!!!
/ Updating the Partner/Operator file; Date: 24-Dec-2012; Version:1.0
/ update the h3 tags to h5 ;29-12-12
%html
  %head
    %title Partner Page
  %body
    %h3 Partner or Operator
    %h5 Partner with us
    %p{:align => "justify"}
      If you are licensed adventure sports operator and willing to grow you business
      %strong EXURA
      can sell you product online or offline. Send us email which can give us farely detailed view about your establishment by writing to us at
      %a.support{:href => "mailto:reachus@exura.in"}
        %span{:style => "color:blue;font-weight:bold"} reachus@exura.in
      OR call us:
      %span{:style => "color:green;font-weight:bold"} +91-9845524873
    %h5 Other Queries
    %p{:align => "justify"}
      If you are the owner of exotic locations or can partner with someone to invest in place where adventure enthusiasts can be excited to visit  team of
      %strong EXURA
      can help you to assess the business opportunity and help you with establishing the adventure activities.
      %p{:align => "justify"}
        To know more about it write to us at
        %a.support{:href => "mailto:reachus@exura.in"}
          %span{:style => "color:blue;font-weight:bold"} reachus@exura.in
        with a contact number OR call us:
        %span{:style => "color:green;font-weight:bold"} +91-9845524873
