!!!
/ Updating the "Privacy Policy" file; Date: 25-Dec-2012; Version:1.0
%html
  %head
    %link{:href => "Exura_stylesheet.css", :rel => "stylesheet", :type => "text/css"}/
    %title Privacy Policy
  %body
    %h1 Privacy Policy
    %ol
      %p{:align => "justify"} 1. We are committed to respecting the privacy of all our visitors. Your email address, password, date of birth and any personal details are never visible to the general public. We will not pass on or sell any of your personal information to third parties with the exception of sending your contact details to the activity provider with whom you make a booking with. Your personal information is strictly used for the functionality of this website.
      %p{:align => "justify"} 2. We may collect, store and use information submitted by the users to process registration. This information may be used by us to communicate with you relating to your website visits.
      %p{:align => "justify"} 3. We do not store credit card information or have access to your credit card information. Payments made on this site are made through a partner payment gateway and credit card information is processed directly through the gateway. Payment Gateway is is PCI DSS 1.2 Certified systems
      %p{:align => "justify"} 4. We use third-party advertising companies to serve ads when you visit our website. These companies may use information (not including your name, address, email address, or telephone number) about your visits to this and other websites in order to provide advertisements about goods and services of interest to you.
