!!!
/ Updating the "Team" file; Date: 24-Dec-2012; Version:1.0
%html
  %head
    %title Team
  %body
    %h1 The Team
  %p{:align => "justify"}
  %strong EXURA
  stands for
  %span{:style => "color:blue;font-family:sans-serif;font-weight:bold"} "Experience Unique and Radiant Adventures"
  and team here puts every effort to live to this expectation of customer. Team has well balanced mix of people who have tremendous expierence in executing and monitoring large projects of Travel domain.
  %p{:align => "justify"} Among us we have expierenced Business operation head who has exposure in call center operation and adventure planner who can reasearch and put together trip itineraries. Also, customise the adventure activity based on groups need.
